.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 100px;
  background: #fff;
  z-index: 1;
}

.header_wrap {
  display: flex;
}

.header h1 {
  flex: 1;
  vertical-align: middle;
  line-height: 100px;
}

.header .gnb {
  line-height: 100px;
}

.header ul {
  display: flex;
  gap: 30px;
}

.header ul > li {
  font-weight: 500;
}

.header_wrap .gnb ul > li .menu_wrap {
  position: absolute;
  width: 2000px;
  top: 100px;
  left: 0;
  right: 0;
  line-height: 35px;
  background: #ddd;
  border-top: 1px solid #ddd;
  display: none;
  text-align: center;
  height: 80px;
}

.header_wrap .gnb ul > li .menu_wrap .submenu {
  position: absolute;
  left: 698px;
  top: 25%;
}

.header_wrap .gnb > ul > li:hover .menu_wrap {
  display: block;
}

.header_wrap .gnb > ul > li .submenu {
  display: flex;
  gap: 30px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_wrap .gnb > ul > li > a {
  position: relative;
}

.header .gnb ul > li > .link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 35px;
  left: 0;
  text-align: center;
  background-color: blue;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.header .gnb ul > li > a:hover::after {
  opacity: 1;
}

.header .util {
  flex: 1;
  vertical-align: middle;
  display: flex;
  justify-content: flex-end;
}
.header .util ul {
  display: flex;
  line-height: 100px;
  gap: 20px;
}

.header .util li {
  position: relative;
}

.header .util ul > li ~ li::before {
  position: absolute;
  content: "";
  top: 47px;
  left: -8px;
  width: 1px;
  height: 9px;
  background: rgb(194, 191, 191);
}

.header .util ul :nth-child(5)::before {
  display: none;
}

.mainVisual {
  text-align: center;
  position: relative;
}

.mainVisual .inner img {
  height: 950px;
  width: 100%;
}

.mainVisual .Name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  z-index: 999;
}

.mainVisual .Name02 {
  position: absolute;
  top: 60%;
  left: 50%;
  color: #fff;
  z-index: 999;
}
